<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ändra Inlägg</title>
</head>
<body>
    <h1>Ändra Dagboksinlägg</h1>
    <form th:action="@{/update}" method="post" th:object="${dagBok}">
        <input type="hidden" th:field="*{id}">
        <label>Rubrik</label>
        <input type="text" th:field="*{rubrik}" placeholder="Rubrik" required><br>
        <label>Text</label>
        <input type="text" th:field="*{text}" placeholder="Text" required><br>
        <label>Datum</label>
        <input type="date" th:field="*{datum}" placeholder="Datum"><br>
        <button type="submit">Updatera</button>
    </form>
    <a href="/">Tillbaka hemsida</a>

</body>
</html>