<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nytt Inlägg</title>
    <link rel="stylesheet" type="text/css" href="/new-dagbok.css">
</head>
<body>
    <h1 class="rubrik">Nytt Dagboksinlägg</h1>
    <form class="huvud" th:action="@{/save}" method="post" th:object="${dagBok}">
        <label>Rubrik</label>
        <input type="text" th:field="*{rubrik}" placeholder="Rubrik" required><br>
        <label>Text</label>
        <input type="text" th:field="*{text}" placeholder="Text" required><br>
        <label>Datum</label>
        <input type="date" th:field="*{datum}" placeholder="Datum"><br>
        <button type="submit">Spara</button>
    </form>
    <a href="/">Tillbaka till hemsida</a>
</body>
</html>